@import '../../variables.scss';

nav {
  margin-bottom: 1rem;
  ul {
    list-style-type: none;
    display: flex;

    li {
      margin: 0.25rem;

      a {
        border: 1px #fff solid;
        border-radius: 0.25rem;
        padding: 0.15rem 0.25rem;
        text-transform: lowercase;
        &.selected {
          border-color: $leethack-green;
        }
        &:hover, &:active {
          background-color: $light;
          color: $dark;
        }
      }
    }
  }
}
