@import url('https://fonts.googleapis.com/css?family=Cutive+Mono&display=swap');
@import './variables';

* {
  /* Yeah yeah, so shoot me! */
  margin: 0;
  padding: 0;
}

section {
  margin-bottom: 1rem;
}

a {
  color: $light-grey;
  text-decoration: none;
}

html {
  font-family: 'Cutive Mono', monospace;
  background-color: $dark;
  color: $light-grey;

  body {
    div.App {
      padding: 1rem;
      max-width: 1024px;
      margin: 0 auto;

      div.content {
        padding: 1rem;
      }
    }
  }
}