@import '../../variables.scss';

figure {
  position: relative;
  img {
    width: 90%;
    margin: 0 auto;
  }

  figcaption {
    font-style: italic;
    padding: 0.5rem 1rem;
    background-color: rgba(255, 255, 255, 0.5);
    color: #000;
    position: absolute;
    bottom: 2rem;
    left: 0;
    right: 0;
    font-weight: bold;
  }
}

@media screen and (max-width: 1000px) {
  figure {
    figcaption {
      font-size: 0.75rem;
      position: relative;
      bottom: 0;
      background-color: #000;
      color: $light-grey;
      padding: 0;
    }
  }
}